.lxproject
.lxpreferences
.DS_Store
.idea/
*.iml
*.log
target/
*.lck
*.tmp
*~
panelpoints_*.csv
audiomonitor.json
gamma.json
midictrl.json
pixliteconfig.json
modeselector.json
firmataconfig.json
lxpoints.ply
panel.svg
jmacd.lxp
points_panel_*.csv
wiring_panel_*.txt
shaders/*
sixteenth_*.html


